      <button type="button" style="background-color: rgb{{button1}};" value=“1”></button>
      <button type="button" style="background-color: rgb{{button2}};" value=“2”></button>
      <button type="button" style="background-color: rgb{{button3}};" value=“3”></button>
      <button type="button" style="background-color: rgb{{button4}};" value=“4”></button>
      <button type="button" style="background-color: rgb{{button5}};" value=“5”></button>
      <button type="button" style="background-color: rgb{{button6}};" value=“6”></button>
      <button type="button" style="background-color: rgb{{button7}};" value=“7”></button>
      <button type="button" style="background-color: rgb{{button8}};" value=“8”></button>
      <button type="button" style="background-color: rgb{{button9}};" value=“9”></button>
      <button type="button" style="background-color: rgb{{button10}};" value=“10”></button>
      <button type="button" style="background-color: rgb{{button11}};" value=“11”></button>
      <button type="button" style="background-color: rgb{{button12}};" value=“12”></button>
      <button type="button" style="background-color: rgb{{button13}};" value=“13”></button>
      <button type="button" style="background-color: rgb{{button14}};" value=“14”></button>
      <button type="button" style="background-color: rgb{{button15}};" value=“15”></button>
      <button type="button" style="background-color: rgb{{button16}};" value=“16”></button>
      <button type="button" style="background-color: rgb{{button17}};" value=“17”></button>
      <button type="button" style="background-color: rgb{{button18}};" value=“18”></button>
      <button type="button" style="background-color: rgb{{button19}};" value=“19”></button>
      <button type="button" style="background-color: rgb{{button20}};" value=“20”></button>
      <button type="button" style="background-color: rgb{{button21}};" value=“21”></button>
      <button type="button" style="background-color: rgb{{button22}};" value=“22”></button>
